<header id="header" class="header-section header-section-1 container-fluid no-padding">
    <div class="top-header container-fluid no-padding">
        <div class="container">
            <p>
                <span class="reg-link">
                    <a>
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        +59396 2789305 
                    </a>
                    <a>
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        info@innovatuestilo.com
                    </a>
                    <a class="acceso">
                        ENTRA
                    </a>
                    O
                    <a class="acceso">
                        REGÍSTRATE
                    </a>
                </span>
            </p>
        </div>
    </div>

    <div class="container-fluid no-padding menu-block">
        <div class="container">
            <nav class="navbar navbar-default ow-navigation">
                <div class="navbar-header">
                    <a href="" class="navbar-brand">
                        <img src="assets/images/logo.png" width="162" height="33">
                    </a>
                </div>

                <div class="navbar-collapse collapse navbar-right" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active dropdown mega-dropdown">
                            <a href="" class="dropdown-toggle">
                                Inicio
                            </a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                NOSOTROS
                            </a>
                            <i class="ddl-switch fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">Sobre Nosotros</a>
                                </li>
                                <li>
                                    <a href="">Nuestros Servicios</a>
                                </li>
                                <li>
                                    <a href="">Portafolio</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                CONTACTO
                            </a>
                            <i class="ddl-switch fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="">Solicitar Servicio</a>
                                </li>
                                <li>
                                    <a href="">Procesar Pago</a>
                                </li>
                                <li>
                                    <a href="">Contactar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

