<header id="header" class="header-section container-fluid no-padding">
    <div class="top-header container-fluid no-padding">
        <div class="container">
            <p>
                Quito, Ecuador
                <span class="reg-link">
                    <a href="" title="Iniciar sesión">{{'Iniciar Sesión' | translate }}</a>
                    O 
                    <a href="" title="Registrarse">{{'Registrarse' | translate}}</a>
                </span>
            </p>
        </div>
    </div>
</header>