<!--The content below is only a placeholder and can be replaced.-->
<div class="main-box">
    <app-header></app-header>
    <div class="page-header container-fluid no-padding">
        <div class="container-fluid no-padding menu-block element-menu">
            <div class="container">
                <nav class="navbar navbar-default ow-navigation">
                    <div class="navbar-header">
                        <a href="" class="navbar-brand">
                            <img src="assets/images/loguito_150X34.png" alt="Logo">
                        </a>
                    </div>
                    <div class="menu-icon">
                        <div class="cart">
                            <button type="button" id="language" class="btn dropdown-toggle">
                                <i class="fa fa-shopping-cart"></i>
                                <span>0</span>
                            </button>
                            <ul class="dropdown-menu no-padding">
                                <li class="mini_cart_item">
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

