<div class="features-section container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                    <div class="fetures-img-block">
                        <img src="assets/images/carrusel/Banner4.jpg">
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
                <div class="dropcaps-box col-md-12 col-sm-12 col-xs-12">
                    <div class="dropcaps-content">
                        <h1 class="nosotros">
                            NOSOTROS
                        </h1>
                        <p>
                            Somos un proveedor integral de servicios de marketing digital y 
                            externalización de servicios porque nos encargamos del diseño
                            gráfico a través de páginas web, aplicaciones móviles (Android 
                            e IOS) y redes sociales.
                            <br/>
                            Ofrecemos soluciones verticales a diferentes sectores. Apoyamos
                            todos nuestros servicios a una tecnología avanzada presentando
                            una solución optimizada y adaptada para cada uno de nuestros 
                            clientes. El asesoramiento personalizado es una herramiena que
                            practicamos en ITED.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding-30"></div>

<div class="process-section process-style-2 home1-process-section container-fluid no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="elegirnos">
                    ¿POR QUÉ ELEGIRNOS?
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="process-box">
                    <p>
                        CONTAMOS CON METODOLOGÍAS ADAPTABLES A SU EMPRESA
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="process-box">
                    <p>
                        NOS COMPROMETEMOS EN CADA PROYECTO
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="process-box">
                    <p>
                        BRINDAMOS UN TRATO PERSONALIZADO
                    </p>
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="process-box">
                    <p>
                        OFRECEMOS UNA BUENA RELACIÓN CALIDAD/PRECIO
                    </p>
                </div>
            </div>
        
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="process-box">
                    <p>
                        NOS COMUNICAMOS DE UNA FORMA SIMPLE Y CLARA, SIN TECNICISMO
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>